<div class="wrapper">
  <configurator-menu-item [icon]="'img/left-panel/flat-ico.svg'" link="flat" title="Моя квартира">
  </configurator-menu-item>
  <configurator-menu-item
    [icon]="'img/left-panel/settings-ico.svg'"
    link="options"
    title="Тип ремонта и опции"
  >
  </configurator-menu-item>
  <configurator-menu-item
    [icon]="'img/left-panel/file-ico.svg'"
    link="materials"
    title="Перечень работ и материалов"
  >
  </configurator-menu-item>
  <configurator-menu-item
    [icon]="'img/left-panel/project-ico.svg'"
    link="project"
    title="Технический проект"
  >
  </configurator-menu-item>
  <configurator-menu-item [icon]="'img/left-panel/repair-ico.svg'" link="repair" title="Ремонт">
  </configurator-menu-item>
</div>
